@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@{ 
    if(!Model.Any())
    {
        <p>There are no movies present at the moment!</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var mov in Model)
                {
                <tr>
                    <td>@Html.ActionLink(mov.Name, "Details", "Movies", new { id = mov.Id }, null)</td>
                    <td>@mov.Genre.Name</td>
                </tr>
                    
                }
            </tbody>
        </table>
        
    }
}

